/* .body{
    background-color: #e7eaf6;
} */
.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 150px;
}

.nav-items {
    padding: 0px 20px;
}

.nav-items ul {
    display: flex;
    list-style-type: none;
    font-size: 24px;
}

.nav-items ul li {
    margin: 10px;
    padding: 10px;

}

.res-card {
    width: 200px;
    /* border: 1px solid black; */
    padding: 5px;
    border-radius: 20px;
    margin: 5px;
}

.res-card:hover {
    border: 1px solid black;
}

.filter-btn {
    margin: 10 px;
    padding: 10px;
    cursor: pointer;
}

.res-logo {
    width: 100%;
    border-radius: 20px;

}

.res-container {
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    margin: 20px;
    width: 200px;
    height: 200px;
    background-color: #f0f0f0;
    border-radius: 20px;
    
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.login{
    padding: 0 20px;
    cursor: pointer;
}

.filter{
    display: flex;
}